table {
    border-collapse: collapse;
}

td {
    padding: 5px 20px;
}

table, th, td {
    border: 1px solid black;
}

img {
    width: 150px;
    height: auto;
}

body {
    background-color: #CBE7CE;
}
